.App {
  position: relative;
}

.theater {
  display: block;
  justify-content: center;
  margin: 0 30%;
  text-align: center;

  padding: 20px 60px;
  border: 2px solid black;
}
.auditorium {
  h3 {
    text-align: center;
  }
  ul {
    align-items: center;
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 5px;
    li {
      width: 35px;
      height: 35px;
      text-align: center;
      margin: 2px;
    }
  }
}
.balcony-mid {
  h3 {
    text-align: center;
  }
  ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    margin: 3px 0;
    li {
      margin-left: 4px;
      width: 35px;
      height: 35px;
    }
  }
}
.balcony-left{
  text-align: center;
  position: absolute;
  top: 75%;
  left: 14%;
  transform: rotate(20deg);
  ul {
    align-items: center;
    display: flex;
    padding: 0;
    flex-direction: row-reverse;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    margin: 3px 0;
    li {
      margin-left:3px;
      width: 30px;
      height: 30px;
    
    }
  }
}
.balcony-right{
  text-align: center;
  position: absolute;
  top: 75%;
  left: 80%;
  transform: rotate(-20deg);
  ul {
    align-items: center;
    display: flex;
    padding: 0;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    margin: 3px 0;
    li {
      margin-left:3px;
      width: 30px;
      height: 30px;
      
    }
  }
}

 


.box-left-2{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: rotate(-65deg);
  ul {
    align-items: center;
    display: flex;
    padding: 0;
    flex-direction: row-reverse;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    margin: 3px 0;
    li {
      margin-left:3px;
      width: 30px;
      height: 30px;
    
    }
  }
}
.box-left-1{
  text-align: center;
  position: absolute;
  top: 25%;
  left: 20%;
  transform: rotate(-65deg);
  ul {
    align-items: center;
    display: flex;
    padding: 0;
    flex-direction: row-reverse;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    margin: 3px 0;
    li {
      margin-left:3px;
      width: 30px;
      height: 30px;
    
    }
  }
}
.box-right-2{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 81%;
  transform: rotate(65deg);
  ul {
    align-items: center;
    display: flex;
    padding: 0;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    margin: 3px 0;
    li {
      margin-left:3px;
      width: 30px;
      height: 30px;
      
    }
  }
}
.box-right-1{
  text-align: center;
  position: absolute;
  top: 25%;
  left: 76.5%;
  transform: rotate(65deg);
  ul {
    align-items: center;
    display: flex;
    padding: 0;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    margin: 3px 0;
    li {
      margin-left:3px;
      width: 30px;
      height: 30px;
    
    }
  }
}


.price5000 {
  background: #efa5a6;
}
.price4000 {
  background: #efdba6;
}
.price3000 {
  background: #a5d9ef;
}
.price2000 {
  background: #afefa5;
}

